@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
/* colors, fonts etc */
* {
  box-sizing: border-box;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

body {
  margin: 0 auto;
  height: 100vh;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4 {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
}

.hero {
  background: url("../assets/pattern-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 35vh;
  text-align: center;
}

.hero__header {
  padding-top: 9.6px;
  color: white;
  font-weight: 500;
}

.hero__form {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  width: 60%;
  max-width: 600px;
  height: 35px;
  margin-top: 0.3em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}
.hero__form .form__control {
  width: 90%;
  font-size: 0.8rem;
  flex: 1;
  height: 100%;
  color: #111;
  padding: 0 1.15em;
  border: transparent;
  border-radius: 0;
}
.hero__form .form__control:focus {
  outline: none;
}
.hero__form .form__control:hover {
  cursor: pointer;
}
.hero__form .hero__btn {
  font-size: 0.8rem;
  width: 40px;
  height: 100%;
  flex: none;
  border: none;
  background-color: hsl(0deg, 0%, 17%);
  cursor: pointer;
  color: #fff;
}
.hero__form .hero__btn:hover {
  filter: brightness(160%);
}

.info {
  background-color: #fff;
  border-radius: 18px;
  width: 81%;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  z-index: 800;
  padding: 0.8em 0;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  -webkit-animation: fadeInAnimation ease 1.6s;
          animation: fadeInAnimation ease 1.6s;
}
.info .info__header {
  color: hsl(0deg, 0%, 59%);
  font-weight: 700;
  font-size: 0.45rem;
  -webkit-animation: fadeInAnimation ease 1s;
          animation: fadeInAnimation ease 1s;
}
.info .info__data {
  font-weight: 500;
  font-size: 0.6rem;
  -webkit-animation: fadeInAnimation ease 1s;
          animation: fadeInAnimation ease 1s;
}

/* Animations */
@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 700px) {
  .hero {
    height: 300px;
  }
  .info {
    padding-top: 14.4px;
    padding-bottom: 3.2px;
  }
  .info .info__header {
    font-size: 0.7rem;
  }
  .info .info__data {
    font-size: 1rem;
  }
}
@media (min-width: 1200px) {
  .hero__form {
    max-width: 600px;
    height: 56px;
    margin-top: 1em;
  }
  .hero__form .form__control {
    width: 90%;
    font-size: 1.135rem;
  }
  .hero__form .hero__btn {
    font-size: 1.3rem;
  }
  .hero__header {
    padding-top: 20.6px;
    padding-bottom: 15.4px;
    font-size: 2rem;
  }
  .info {
    background-color: #fff;
    border-radius: 1.125em;
    width: 80%;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 43px;
    z-index: 800;
    padding: 37px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .info .info__item + .info__item {
    border-left: 1px solid hsl(0deg, 0%, 59%);
    padding-left: 30px;
  }
  .info .info__header {
    color: hsl(0deg, 0%, 59%);
    font-weight: 700;
    font-size: 0.65rem;
    text-align: left;
  }
  .info .info__data {
    font-weight: 500;
    font-size: 1.3rem;
  }
}
@media (min-width: 1392px) {
  .hero__header {
    padding-top: 20.6px;
    padding-bottom: 17.4px;
    font-size: 2rem;
  }
  .info {
    padding: 40px 0;
  }
}
@media screen and (min-width: 1600px) {
  .hero__header {
    padding-top: 20.6px;
    padding-bottom: 17.4px;
    font-size: 2rem;
  }
  .info {
    padding: 40px 0;
  }
}/*# sourceMappingURL=style.css.map */