@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

/* colors, fonts etc */
$very-dark-grey:hsl(0, 0%, 17%);
$dark-grey: hsl(0, 0%, 59%);
$rubik:'Rubik', sans-serif;;

*{
    box-sizing: border-box;
    padding: 0;
    font-family: $rubik;
    
}
body{
    margin: 0 auto;
    
}
img{
    max-width: 100%;
}
h1,h2,h3,h4{
    margin: 0;
}

.container{
    margin: 0 auto;
    width:90%;
    max-width: 1000px;
}
.hero {
    background: url('../assets/pattern-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 35vh;
    //height: 300px;
    text-align: center;
}
.hero__header{
    padding-top: 9.6px;
    color: white;
    font-weight: 500;
}
.hero__form{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    width: 90%;
    max-width: 600px;
    height: 35px;
    margin-top: 0.3em;
    
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 10px;
    overflow: hidden;

    .form__control{
        width: 90%;
        font-size: 0.8rem;
        flex: 1;
        height: 100%;
        color: #111;
        padding: 0 1.15em;
        border: transparent;
        border-radius: 0;
    }

    .form__control:focus{
        outline: none;
    }
    .form__control:hover{
        cursor: pointer;
    }

    .hero__btn{
        font-size: 0.8rem;
        width: 40px;
        height: 100%;
        flex: none;
        border: none;
        background-color: $very-dark-grey;
        cursor: pointer;
        color: #fff;
    }
    .hero__btn:hover{
        filter: brightness(160%);
    }


}
.info{
    background-color: #fff;
    border-radius: 18px;
    width: 81%;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top:6px;
    z-index: 800;
    padding: 0.8em 0;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    .info__header{
        color: $dark-grey;
        font-weight: 700;
        font-size: 0.45rem;
        animation: fadeInAnimation ease 1s;
    }
    .info__data{
        font-weight: 500;
        font-size: 0.6rem;
        animation: fadeInAnimation ease 1s;
    }
    animation: fadeInAnimation ease 1.6s;
}


/* Animations */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


// mobile
@media(min-width:700px){ // on screens 700px or less
    .hero {
        height: 35vh;
    }
    .info{
        .info__header{
            font-size: 0.7rem;
        }
        .info__data{
            font-size: 1rem;
        }
        padding-top: 14.4px;
        padding-bottom:  3.2px;
    }

} 
//tablet
@media (min-width: 1200px) { // for screens 1200 px or less
    .hero__form{
        max-width: 600px;
        height: 56px;
        margin-top: 1em;
        
        .form__control{
            width: 90%;
            font-size: 1.135rem;
        }
        .hero__btn{
            font-size: 1.3rem;
        }
    }
    
    .hero__header{
        padding-top: 20.6px;
        padding-bottom: 15.4px;
        font-size: 2rem;
    }
    .info{
        background-color: #fff;
        border-radius: 1.125em;
        width: 80%;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 43px;
        z-index: 800;
        padding: 37px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .info__item + .info__item{
            border-left: 1px solid $dark-grey;
            padding-left: 30px;
        }
        .info__header{
            color: $dark-grey;
            font-weight: 700;
            font-size: 0.65rem;
            text-align: left;
        }
        .info__data{
            font-weight: 500;
            font-size: 1.3rem;
        }
    }
}

//desktop
@media (min-width:1392px){ // 1392 px or less
    .hero__header{
        padding-top: 20.6px;
        padding-bottom: 17.4px;
        font-size: 2rem;
    }
    .info{
        padding: 40px 0;
    }
}

@media screen and (min-width: 1600px) {
    .hero__header{
        padding-top: 20.6px;
        padding-bottom: 17.4px;
        font-size: 2rem;
    }
    .info{
        padding: 40px 0;
    }
}