@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

/* colors, fonts etc */
$very-dark-grey:hsl(0, 0%, 17%);
$dark-grey: hsl(0, 0%, 59%);
$rubik:'Rubik', sans-serif;;

*{
    box-sizing: border-box;
    padding: 0;
    font-family: $rubik;
}
body{
    margin: 0 auto;
}
img{
    max-width: 100%;
}
h1,h2,h3,h4{
    margin: 0;
}

.container{
    margin: 0 auto;
    width:90%;
    max-width: 1000px;
}
.hero {
    background: url('../assets/pattern-bg.png');
    
    height: 35vh;
    text-align: center;
}
.hero__header{
    padding-top: 0.6em;
    color: white;
    font-weight: 500;
}
.hero__form{
    padding-top: 0.5em;

    .form__control{
        width: 90%;
        max-width: 600px;
        padding: 0.9375em 1.125em;
        border: none;
        border-radius: 0.8125em;

        font-size: 0.97rem;
        
        outline-width:0;
        flex-grow: 2;
        padding-right: 3.125em;
    }
    .form__control:focus{
        outline: none;
    }
    .form__control:hover{
        cursor: pointer;
    }
    .hero__btn{
        display: inline-block;
        background-color: black;
        color: #fff;
        border: 0;
        position: relative;
        padding: 1.23em 1.8em;
        border-radius: 0px 0.625em
        0.625em 0;
        
        margin-left: -50px;
    }
    .hero__btn:hover{
        filter: opacity(78%);
        cursor: pointer;
    }
}
.info{
    background-color: #fff;
    border-radius: 18px;
    width: 81%;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.66em;
    z-index: 800;
    padding: 1.2em 0;

    .info__header{
        color: $dark-grey;
        font-weight: 700;
        font-size: 0.56rem;
        animation: fadeInAnimation ease 1s;
    }
    .info__data{
        font-weight: 500;
        font-size: 0.89rem;
        animation: fadeInAnimation ease 1s;
    }
    animation: fadeInAnimation ease 1.6s;
}
#map{
    height: 80vh;
}

/* Animations */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}


// mobile
@media(min-width:43.75em){ // on screens 700px or less
    
    .info{
        .info__header{
            font-size: 0.7rem;
        }
        .info__data{
            font-size: 1rem;
        }
        padding-top: 0.9em;
        padding-bottom: 0.2em;
    }

} 
//tablet
@media (min-width:75em) { // for screens 1200 px or less
    .hero__header{
        padding-top: 1.1em ;
        padding-bottom: 0.65em;
        font-size: 2rem;
    }
    .info{
        background-color: #fff;
        border-radius: 1.125em;
        width: 80%;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2.6875em;
        z-index: 800;
        padding: 1.5625em 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .info__item + .info__item{
            border-left: 1px solid $dark-grey;
            padding-left: 1.875em;
        }
        .info__header{
            color: $dark-grey;
            font-weight: 700;
            font-size: 0.65rem;
            text-align: left;
        }
        .info__data{
            font-weight: 500;
            font-size: 1.3rem;
        }
    }
}

//desktop
@media (min-width:87em){ // 1392 px or less

}